#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #93E5AB;
}

.header {
  background-color: #003D2E;
  width: 100%;
}

.articles-container {
  padding: 1rem;
  background-color: #B5FFE1;
  height: 60rem;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.article-card, .comment-card, .write-comment {
  padding: 1rem;
  color: black;
  border: 3px solid #4E878C;
  margin: 1rem;
}

.article-title {
  font-weight: 700;
  font-size: 1.25em;
  text-align: left;
}

.overview {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

.topic {
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.votes-button, .comment-button {
  display: inline-block;
  margin: 1rem;
}

.chosen-article-title, .article-author, .date-created {
  display: inline-block;
  margin: 1rem;
}

.chosen-article-title {
  font-size: 2em;
}

.article-author {
  font-size: 1em;
  font-weight: 600;
  text-decoration: underline;
}

.date-created {
  font-size: 0.8em;
}

.comment-section {
  padding: 1rem;
  background-color: #B5FFE1;
}

.comment-author {
  font-size: 1.25em;
  font-weight: 700;
  text-align: left;
}

.comment-body {
  text-align: left;
}

.comment-votes, .up-vote, .down-vote {
  display: inline-block;
  margin: 1rem;
}

.comment-input {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}